/Hollow_Diamond_Pattern_Pattern_6.class
/Pattern_Triangle.class
/Mirror_Star_Pattern.class
/Pattern_Number_Ladder.class
/Hollow_Rhombus_Pattern.class
/Pattern_Rhombus.class
/Pattern_with_Zeros.class
/Fibonacci_Pattern.class
/Pattern_Mountain.class
/Pattern_Magic.class
/R4_Pattern.class
/Pattern_Double_Sided_Arrow.class
/Pascal_Triangle.class
/Pattern_InvertedHourGlass.class
/Pattern_HourGlass.class
